RewriteEngine on

# rewrite url
RewriteRule ^index/?$ index.php?

RewriteRule ^.*login?$ Controller/LoginController.php?

RewriteRule ^.*logout:?$ Controller/LogoutController.php?

RewriteRule ^home-trainer?$ Controller/HomeController.php

RewriteRule ^home-student?$ Controller/HomeController.php

RewriteRule ^team-id-([0-9]*)?$ Controller/TeamController.php?team_id=$1

RewriteRule ^project-id-([0-9]*)?$ Controller/ProjectController.php?project_id=$1

RewriteRule ^project-edit-([0-9]*)?$ Controller/ProjectEditController.php?project_id=$1

RewriteRule ^team-edit-([0-9]*)-pid-([0-9]*)?$ Controller/TeamEditController.php?team_id=$1&project_id=$2

RewriteRule ^student-id-([0-9]*)?$ Controller/StudentProfileController.php?student_id=$1

RewriteRule ^trainer-id-([0-9]*)?$ Controller/TrainerProfileController.php?trainer_id=$1

RewriteRule ^create-project?$ Controller/CreateProjectController.php