RewriteEngine on

RewriteRule ^index?$ index.php?

RewriteRule ^login?$ Controller/LoginController.php?

RewriteRule ^logout?$ Controller/LogoutController.php?

# rewrite url
RewriteRule ^home-trainer?$ Controller/HomeController.php

RewriteRule ^home-student?$ Controller/HomeController.php
